		<div id="commandList">
			<div class="commandLine">user@hunterbo:~$&nbsp;<span contenteditable="true" value="empty" class="commandString"></span><span class="cursor"></span></div>
		</div>
	<div class="bottomBar"></div>