<!DOCTYPE html>
<html>
<head>
	<title>hunter@bo</title>
    <link rel="icon" href="/assets/favicon.ico" type="image/x-icon">
    <link rel="dns-prefetch" href="//fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
	<link href="https://fonts.googleapis.com/css?family=Inconsolata&display=swap" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="/stylesheets/app.css">
</head>
<body>