<nav>
    <div class="nav-container">
        <div class="links">
            <a class="red" id="link-gh" href="https://github.com"><i class="fab fa-github"></i></a>
            <a class="yellow" id="link-fb" href="https://www.facebook.com/hunter.dermott"><i class="fab fa-facebook"></i></a>
            <a class="green" id="link-rs" href="HunterDermott.pdf"><i class="fas fa-arrow-circle-down"></i></a>
        </div>
        <div class="title">
            <a href="/">hunter@bo</a>
        </div>
    </div>
</nav>