<% include partials/header %>
<% include partials/navbar %>

<div id="modal" class="active">
    <div class="modal-header">
        <div class="modal-title">
            Hello World!
        </div>
        <button class="modal-close">&times;</button>
    </div>
    <div class="modal-body">
        This is my portfolio website showcasing my skills and experience in Computer Science. It is currently under development!
    </div>
</div>
<div id="modal-overlay" class="active"></div>

<% include partials/console %>
<% include partials/footer %>