body {
	background-color: #2e2e2e;	
	color: #dedcdc;
	outline: none;
	font-size: 2.5rem;
	height: 100vh;
	margin: 0;
	font-family: 'Inconsolata', monospace;
	caret-color: transparent;
}

nav {
	padding: 0;
	height: 10%;
	min-height: 100px;
	background-color: #dedcdc;
	background: #dedcdc;
	font-size: 3.0rem;
	width: 100%;
	display: flex;
	align-items: start;
}

.nav-container {
	height: 100%;
	width: inherit;
	display: flex;
}

.links {
	width: 33.3%;
	display: flex;
	justify-content: start;
	align-items: center;
	padding-left: 1rem;
}

a:hover{
	color: #347ff7;
}

.title {
	font-size: 2.5rem;
	letter-spacing: 0.2rem;
	color: #2e2e2e;
	width: 33.3%;
	align-items: center;
	justify-content: center;
	display: flex;
}

.links a {
	padding: .5rem 1rem;
}

#modal {
	position: fixed;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%) scale(0);
	border-radius: 20px;
	transition: 200ms ease-in-out;
	z-index: 10;
	width: 800px;
	max-width: 80%;
    max-height: 90%;
	color: #2e2e2e;
	line-height: 1.5;
	background-color: #dedcdc;
}

#modal.active {
	transform: translate(-50%, -50%) scale(1);
}

.modal-header {
	padding: 2.5% 5%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-size: 3.0rem;
	font-weight: bold;
	background-color: #2e2e2e;
	color: #dedcdc;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;	
}

.modal-body {
	padding: 2% 3%;
}


.modal-close {
	border: none;
	outline: none;
	cursor: pointer;
	background-color: inherit;
	color: red;
    font-size: 3.5rem;
}

#modal-overlay {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	opacity: 0;
	background-color: rgba(0,0,0,.5);
	pointer-events: none;
	transition: 200ms ease-in-out;
}

#modal-overlay.active {
	opacity: 1;
	pointer-events: all;
}

.tab {
	margin-left: 10%;
}

.halftab {
	margin-left: 5%;
}

.red {
	color: red;
}

.yellow {
	color: #f0d83e;
}

.green {
	color: #49bf2e;
}

#commandList {
	height: 85%;
	width: 80%;
	margin: 0 auto;
	overflow-y: auto;
	overflow-x: none;
	scrollbar-color: #dedcdc #2e2e2e;
	scrollbar-width: auto;
}

.bottomBar {
	height: 5%;
	min-height: 40px;
	background-color: #dedcdc;
}

.cursor {
	margin: 0.5rem;
	padding-right: 1rem;
}

.cursorOn {
	background-color: #dedcdc;
}

.commandLine {
	width: 100%;
    padding-top: 2rem;
	word-wrap: break-word;
}

[contenteditable="true"]:active,
[contenteditable="true"]:focus{
	border:none;
	outline:none;
}

/* [contenteditable=true]:empty:before{
  content: attr(placeholder);
  display: block;
} */

#commandList::-webkit-scrollbar {
    width: 0em;
}

.message {
word-wrap: break-word;
  border-right: .15em solid orange; /* The typwriter cursor */
  white-space: nowrap;
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation: 
    typing 3.5s steps(40, end),
    blink-caret .75s step-end infinite;
}

@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

@media screen and (max-width: 1200px) {

	body {
		font-size: 4.5rem;
	}
	.links {
		font-size: 6rem;
	}
	.title {
		font-size: 5rem;
		width: 66.6%;
	}
	nav {
		height: 10rem;
	}
	#commandList {
		height: 81%;
	}
	.bottomBar {
		height: 5%;
	}
    .modal-header {
        font-size: 4.5rem;
    }
    .modal-close {
        font-size: 5rem;
    }
    #modal {
        font-size: 4rem;
    }

}
